---
import Layout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
import ExperienceBadge from "../../components/ExperienceBadge.astro";

import {
  frontendExperience,
  backendExperience,
} from "../../data/webExperience.ts";

// const images = await Astro.glob("src/assets/*").then((files) =>
//   files.map((file) => file.default)
// );
---

<Layout
  title="Web"
  description="Matthew Ubalde web development portfolio. Have some experienced in React, React Native, and Vue. Used Gatsby, and now Astro, to develop websites."
  enableNav
>
  <Fragment slot="sidebar">
    <h1>Web Development</h1>
    <p class="font-light">
      Can create SPA with React and Vue. Used Astro to create this portfolio
      website as a MPA for faster loading speeds.
    </p>
    <p class="font-light">
      With experience in web development, I have used React Native in
      conjunction with Expo to create a mobile application.
    </p>
  </Fragment>
  <div class="relative h-full w-full z-10 overflow-hidden overflow-y-auto">
    <Section>
      <h1 class="text-center mb-8">Front-end</h1>
      <div class="flex flex-wrap justify-center items-center gap-x-4 gap-y-4">
        {frontendExperience.map((f) => <ExperienceBadge src={f} />)}
      </div>
    </Section>
    <Section>
      <h1 class="text-center mb-8">Back-end</h1>
      <div class="flex flex-wrap justify-center items-center gap-x-4 gap-y-4">
        {backendExperience.map((b) => <ExperienceBadge src={b} />)}
      </div>
    </Section>
    <Section class="flex flex-col justify-center gap-8 text-center">
      <h1 class="text-center">This site is made in <b>Astro</b></h1>
      <p>
        My original portfolio site was made in <b>Vite</b> and <b>React</b>. In
        the spirit of learning, I learned and discovered other frameworks to
        develop websites.
      </p>
      <p>
        So before choosing Gatsby with React, I found myself using Astro with
        Tailwind to style the site! And with React for specific functionalities.
      </p>
      <p>Like the contact form!</p>
    </Section>
    <Section>
      <!-- Insert contact form -->
    </Section>
    <Section class="flex flex-col justify-center gap-8 text-center">
      <h1 class="text-center">College Experience</h1>
      <p>
        In Fanshawe, I have to develop a mobile application using React Native
        and Expo for testing.
      </p>
      <p>
        And the application is called "Until Finish". A task management software
        that's focus-oriented and intuitive application.
      </p>
      <p>
        A lot of the web development skills were used to learn and adapt this
        application to reality. I'm able to autheticate in login, and about to
        implement the cloud feature to store the tasks between phones!
      </p>
    </Section>
  </div>
</Layout>
