---
import Section from "../../components/Section.astro";
import Layout from "../../layouts/BaseLayout.astro";
---

<Layout
  title="Art"
  description="Mattew Ubalde's art portfolio. Purely a hobby and for fun"
>
  <Section textContent class="sm:w-3/4 sm:mx-auto">
    <h1>Experience Summary</h1>
    <p>
      I'm a self-taught digital artist drawing illustrations with a cartoon
      design, but slowly improving on anatomy, perspective, and on backgrounds.
      I've been interested in animation at a young age, but drawing became an
      interest of me as I strive for improvement for fun.
    </p>
    <p>
      I used Krita to do all of my digital drawings, and would post them online
      for fun with a different online-handle. And sames goes for the games I've
      made - the illustrations and the sprites are made by me.
    </p>
  </Section>
  <Section textContent class="sm:w-2/3 sm:mx-auto">
    <p>
      There isn't much to show off from here until I'm able to show art that I
      found displays my skills at best. I've been busy with life and school, so
      I haven't done much drawing to show.
    </p>
  </Section>
</Layout>
