---
import { Image } from "astro:assets";

import Layout from "../../layouts/PageLayout.astro";
---

<Layout
  title="Home"
  description="Matthew Ubalde portfolio. Ranging from Web and Game Development, and Creative Arts!"
>
  <!-- Introduction -->
  <div>
    Started going to Fansahwe College in 2019 as a Computer Programming and
    Analysis student.
  </div>
</Layout>
