---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "../../../layouts/PageLayout.astro";
import Section from "../../../components/Section.astro";
import BadgeContainer from "../../../components/BadgeContainer.astro";

import ProjectContainer from "../../../components/ProjectContainer.astro";
import type { ExperienceBadge, ProjectShowcase } from "../../../const";

import { gameProjects, gameExperience } from "../../../data/game";

// TODO: The collection says its doesn't exist or empty
// const gameProjects: CollectionEntry<ProjectShowcase> =
//   await getCollection("gameProjects");
// const gameExperiences: CollectionEntry<ExperienceBadge> =
//   await getCollection("gameExperiences");
// const game = await getCollection("game");

// const gameProjectsData: ProjectShowcase[] = gameProjects.map(
//   (project) => project.data
// );
// const gameExperiencesData: ExperienceBadge[] = gameExperiences.map(
//   (exp) => exp.data
// );

const experiences = await getCollection("experiences");
console.log(experiences);
---

<Layout
  title="Game"
  description="Matthew Ubalde game development portfolio. Have experience in Godot and Unity to create well designed games."
>
  <div class="flex flex-col sm:flex-row justify-between gap-8 m-8">
    <Section noMargin textContent class="w-1/3">
      <h1>Experience Summary</h1>
      <p>
        Was taught on how to use the Unity Engine, but developed games as a
        side-hobby with Godot. This is purely as an interest, but willing to try
        to break into this industry when given the opportunity.
      </p>
    </Section>
    <Section noMargin class="flex-grow">
      <h1 class="text-center">Game Experiences</h1>
      <BadgeContainer src={gameExperience} />
    </Section>
  </div>
  <Section textContent class="mx-auto w-2/3">
    <h1>Games for Fun</h1>
    <p>
      These are purely made out of fun as I found the game development
      interesting since I was really young. I like making games that are simple,
      but tried to make it deep and rewarding at the same time.
    </p>
    <ProjectContainer src={gameProjects} />
  </Section>
</Layout>
