---
import { Image } from "astro:assets";

import Layout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";

import portraitImage from "../assets/portfolio-portrait.png";
---

<Layout
  title="Home"
  description="Matthew Ubalde portfolio. Ranging from Web and Game Development, and Creative Arts!"
>
  <!-- Introduction -->
  <div class="relative h-screen w-screen">
    <Section
      noPadding
      class="absolute top-8 bottom-12 flex flex-col justify-start h-fit p-8 py-24 bg-cyan-950 bg-opacity-50 rounded-md w-1/2"
    >
      <p class="text-xs">My name is...</p>
      <h1 class="text-5xl mb-2">Matthew Ubalde</h1>
      <p class="font-light">
        Current looking for an intern position in web or game development
      </p>
      <p class="font-light">
        Fanshawe College student studying in Computer Programming and Analysis
      </p>
    </Section>
    <Image
      src={portraitImage}
      width={400}
      height={600}
      loading="eager"
      alt="A smiling Asian man wearing a blue, orange-stripped, t-shirt and glasses."
      class="absolute bottom-0 right-8 object-cover -z-10"
    />
  </div>
</Layout>
