---
/**
 * Landing introduction page. It's to give a good brief explaination of my skills
 * and current experience. (As of Jan 11, 2024, I have no work experience).
 */
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

import portraitImage from "../assets/portfolio-portrait.png";
import ContainerProject from "../components/ContainerProject.astro";
import ProjectShowcase from "../components/ProjectShowcase.astro";
import LayoutSection from "../components/LayoutSection.astro";

const articles = await getCollection("articles", (a) => a.data.featured);

articles.sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
---

<Layout
  title="Home"
  description="Ranging from Web and Game Development, and Creative Arts!"
>
  <!-- Introduction -->
  <LayoutSection
    noMedia
    col
    class="relative justify-start pb-48 overflow-hidden"
  >
    <Section noMargin class="h-fit sm:w-2/3">
      <p class="text-sm">My name is...</p>
      <h1 class="text-5xl mb-2">Matthew Ubalde</h1>
      <p class="font-light">
        A Fanshawe College student studying in Computer Programming and Analysis
      </p>
    </Section>
    <Section noMargin class="w-1/2 text-lg">
      Currently looking for an intern position in <b
        ><a href="/comp-experience/software">Software</a></b
      >, <b><a href="/comp-experience/web">Web</a></b>, or <b
        ><a href="/comp-experience/game">Game</a></b
      > Development.
    </Section>
    <Section noMargin textContent class="w-1/2">
      <h1>Featured Projects</h1>
      <p>
        Down below are my personal projects that I've made and proud to
        showcase!
      </p>
    </Section>
    <Image
      class="absolute right-0 bottom-0 object-cover sm:w-2/3 md:w-fit -z-10"
      src={portraitImage}
      width={400}
      height={600}
      loading="eager"
      alt="Matthew wearing a blue, orange-stripped, t-shirt and glasses."
    />
  </LayoutSection>
  <ContainerProject>
    {
      articles &&
        articles.map((p) => <ProjectShowcase href={p.id} {...p.data} />)
    }
  </ContainerProject>
</Layout>
