---
import type { HTMLAttributes } from "astro/types";
import type { ExperienceBadgeType } from "../types";

import ExperienceBadge from "./ExperienceBadge.astro";
import Section from "./Section.astro";

interface Props extends HTMLAttributes<"div"> {
  title?: string;
  src: Array<ExperienceBadgeType>;
  noPadding?: boolean | undefined;
  noMargin?: boolean | undefined;
  noRounded?: boolean | undefined;
}

const {
  class: className,
  title,
  src,
  noPadding,
  noMargin,
  noRounded,
} = Astro.props;
---

<Section
  noPadding={noPadding}
  noMargin={noMargin}
  noRounded={noRounded}
  class:list={[className]}
>
  <h1 class="text-center mb-2">{title}</h1>
  <div class="flex flex-row flex-wrap justify-center items-center gap-4">
    {src.map((badge) => <ExperienceBadge {...badge} />)}
  </div>
</Section>
