---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className } = Astro.props;
---

<div
  class:list={[
    className,
    "rounded-md overflow-hidden border-4 border-cyan-950",
  ]}
>
  <div class="bg-cyan-950 p-1 break-words">
    <slot name="header" />
  </div>
  <slot />
</div>
