<!-- 
<ComparisonContainer>
  <Fragment slot="before"> </Fragment>
  <Fragment slot="after"> </Fragment>
</ComparisonContainer> 
-->
<div class="flex justify-center items-stretch gap-8">
  <div class="flex flex-col justify-center items-stretch gap-4 text-center">
    <h2>Before</h2>
    <slot name="before" />
  </div>
  <div class="flex flex-col justify-center items-stretch gap-4 text-center">
    <h2>After</h2>
    <slot name="after" />
  </div>
</div>
