---
import { Image } from "astro:assets";
import type { ExperienceShowcase } from "../const";

interface Props {
  src: ExperienceShowcase;
}

const { src } = Astro.props;
---

<div
  class="flex flex-col justify-center items-center bg-gray-400 p-8 rounded-lg"
>
  <Image src={src.src} alt={src.alt} width={150} height={150} />
  <h2>{src.title} - {src.experience}</h2>
</div>
