---
import type { ExperienceBadgeType } from "../types";

import { Icon } from "astro-icon/components";

type Props = ExperienceBadgeType;

const { title, src, experience } = Astro.props;
---

<div
  class="group relative flex flex-col gap-1 justify-around items-center size-28 md:size-32 bg-sky-900 p-4 rounded-md
          hover:scale-110 transition-transform"
>
  <div
    class="absolute left-0.5 top-2 opacity-50 leading-tight [writing-mode:vertical-lr]"
  >
    {title}
  </div>
  <Icon name={src} class="flex-grow size-14 sm:size-18 md:size-20" />
  <div class="w-fit mx-auto p-1 text-center text-sm bg-sky-950 rounded-md">
    {experience}
  </div>
</div>
