---
import type { HTMLAttributes } from "astro/types";
import type {
  FlexComponentType,
  MalleableComponentType,
  MediaQueryComponentType,
} from "../types";

/**
 * A flex container. The col and row is biased towards the desktop version
 * if it's past the sm query.
 */

type Props = HTMLAttributes<"div"> &
  MalleableComponentType &
  FlexComponentType &
  MediaQueryComponentType;

const { class: className, noMedia, col, row, noMargin } = Astro.props;
---

<div
  class:list={[
    className,
    "flex gap-4 sm:gap-8",
    noMedia ? row && "flex-row" : row && "flex-col md:flex-row",
    noMedia ? col && "flex-col" : col && "flex-row md:flex-col",
    !noMargin && "m-4 sm:m-8",
  ]}
>
  <slot />
</div>
