---
import { SITE_NAVIGATION } from "../const";

const { current } = Astro.props;
---

<!--Computer version-->
<nav class:list={["hidden md:block", "flex flex-col gap-8"]}>
  {
    SITE_NAVIGATION.map((value) => (
      <a href={value.href} class:list={["text-2xl", "bg-amber-300"]}>
        {value.label}
      </a>
    ))
  }
</nav>
