---
import type { HTMLAttributes } from "astro/types";

// type Props = HTMLAttributes<"section">;
interface Props extends HTMLAttributes<"section"> {
  noPadding?: boolean | undefined;
  noMargin?: boolean | undefined;
  noRounded?: boolean | undefined;
  textContent?: boolean | undefined;
}

const {
  class: className,
  noPadding,
  noMargin,
  noRounded,
  textContent,
  ...props
} = Astro.props;
---

<section
  class:list={[
    className,
    "bg-cyan-900 bg-opacity-50",
    !noPadding && "px-8 py-4",
    !noMargin && "m-8",
    !noRounded && "rounded-md",
    textContent && " space-y-2 text-center content-center",
  ]}
  {...props}
>
  <slot />
</section>
