---
import type { HTMLAttributes } from "astro/types";

// type Props = HTMLAttributes<"section">;
interface Props extends HTMLAttributes<"section"> {
  noPadding?: boolean | undefined;
  noMargin?: boolean | undefined;
  noRounded?: boolean | undefined;
  textContentFlex?: boolean | undefined;
}

const {
  class: className,
  noPadding,
  noMargin,
  noRounded,
  textContentFlex,
  ...props
} = Astro.props;
---

<section
  class:list={[
    className,
    "bg-cyan-900 bg-opacity-50",
    !noPadding && "px-8 py-4",
    !noMargin && "m-8",
    !noRounded && "rounded-md",
    textContentFlex && "flex flex-col justify-center gap-8 text-center",
  ]}
  {...props}
>
  <slot />
</section>
