---
import type { HTMLAttributes } from "astro/types";

// type Props = HTMLAttributes<"section">;
interface Props extends HTMLAttributes<"section"> {
  ridPadding?: boolean | undefined;
  defaultFlex?: boolean | undefined;
}

const { class: className, ridPadding, defaultFlex, ...props } = Astro.props;
---

<section
  class:list={[
    className,
    "bg-gradient-to-t from-transparent to-black",
    "bg-black hover:bg-blue-950",
    "text-white transition-all",
    "w-full overflow-hidden",
    !ridPadding && "px-8 py-4",
    defaultFlex && "flex flex-col justify-center gap-8 text-center",
  ]}
  {...props}
>
  <slot />
</section>
