---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;

const { class: className, ...props } = Astro.props;
---

<section
  class:list={[
    className,
    "bg-gradient-to-t from-transparent to-black",
    "bg-black hover:bg-blue-950",
    "text-white transition-all",
    "w-full min-h-96 px-8 py-4 overflow-hidden",
  ]}
  {...props}
>
  <slot />
</section>
