---
/**
 * Custom Section element that holds the default styling for majority of the site.
 */
import type { HTMLAttributes } from "astro/types";
import type { MalleableComponentType, ContentComponentType } from "../types";

type Props = HTMLAttributes<"section"> &
  MalleableComponentType &
  ContentComponentType;

const {
  class: className,
  noPadding,
  noMargin,
  noRounded,
  textContent,
  articleContent,
  ...props
} = Astro.props;
---

<section
  class:list={[
    "bg-sky-800 bg-opacity-50",
    !noPadding && "p-4 sm:px-8 py-4",
    !noMargin && "m-4 sm:m-8",
    !noRounded && "rounded-md",
    textContent && " space-y-2 text-center content-center",
    articleContent && "space-y-2 text-start content-center",
    className,
  ]}
  {...props}
>
  <slot />
</section>
