---
import Layout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
import ExperienceBadge from "../../components/ExperienceBadge.astro";
import ExpBadgeContainer from "../../components/ExpBadgeContainer.astro";
import ProjectShowcase from "../../components/ProjectShowcase.astro";

import { gameProjects, gameExperience } from "../../data/game";
---

<Layout
  title="Game"
  description="Matthew Ubalde game development portfolio. Have experience in Godot and Unity to create well designed games."
  enableNav
>
  <Fragment slot="sidebar">
    <h1>Game Development</h1>
    <p>
      Have experience in creating games using Godot and Unity in Fanshawe and in
      my spare time.
    </p>
  </Fragment>
  <Section>
    <h1 class="mb-8 text-center">Game Experiences</h1>
    <ExpBadgeContainer>
      {gameExperience.map((g) => <ExperienceBadge src={g} />)}
    </ExpBadgeContainer>
  </Section>
  <Section class="flex flex-col justify-center gap-8 text-center">
    <h1>Game Projects</h1>
    <p>
      I make games as hobby as I found the game development process fun and
      exciting! Personally, I enjoy think of ways to make games that are fun,
      simple, and interesting through deep mechanics, or fun rewards.
    </p>
    <p>
      You can view each individual projects and my thinking process within them.
    </p>
    <ExpBadgeContainer>
      {gameProjects.map((g) => <ProjectShowcase src={g} />)}
    </ExpBadgeContainer>
  </Section>
</Layout>
