---
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

import Navbar from "../components/Navbar/Navbar.astro";

const pathname = Astro.url.pathname;
const currentPath = pathname;

interface Props {
  prevNav?: string;
  title: string;
  description: string;
}

const { title, description, prevNav } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Matthew Ubalde | " + title} description={description} />
  </head>
  <body class="h-screen">
    <div class="grid grid-cols-4 gap-8 p-8">
      <Navbar prev={prevNav} current={currentPath} class="col-span-1" />
      <main class="col-span-3">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
