---
import { Image } from "astro:assets";
import BaseHead from "../components/Metadata/BaseHead.astro";
import ImageLink from "../components/ImageLink.astro";

import { SITE_SOCIAL_MEDIA } from "../const";

const { linkedin, github } = SITE_SOCIAL_MEDIA;

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <main class="flex h-screen">
      <slot />
    </main>
    <footer
      class="flex justify-center items-center gap-8 h-auto p-8 bg-black text-white"
    >
      <p>Matthew Ubalde</p>
      <div class="flex gap-4">
        <ImageLink link={linkedin} width={50} height={50} />
        <ImageLink link={github} width={50} height={50} />
      </div>
    </footer>
  </body>
</html>
