---
import Footer from "../components/Footer.astro";
import BaseHead from "../components/Metadata/BaseHead.astro";

import Navbar from "../components/Navbar/Navbar.vue";

const pathname = Astro.url.pathname;
const currentPath = pathname;

interface Props {
  prevNav?: string;
  title: string;
  description: string;
}

const { title, description, prevNav } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Matthew Ubalde Portfolio | " + title}
      description={description}
    />
  </head>
  <body>
    <!-- Empty div just to pad the top -->
    <div class="mt-32"></div>
    <Navbar prev={prevNav} current={currentPath} client:load />
    <!-- Other layouts should have inserted their main element -->
    <slot />
    <!-- end main element -->
    <Footer />
  </body>
</html>
