---
import { Image } from "astro:assets";
import BaseHead from "../components/Metadata/BaseHead.astro";
import ImageLink from "../components/ImageLink.astro";

import socialMedia from "../data/socialMedia";

const { linkedin, github } = socialMedia;

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <main class="flex h-screen w-screen">
      <aside
        class:list={[
          "flex flex-col justify-center items-start gap-4",
          "h-full w-2/6 min-w-80 px-8",
          " bg-black text-white overflow-hidden",
        ]}
      >
        <slot name="sidebar" />
      </aside>
    </main>
    <footer
      class="flex justify-center items-center gap-8 h-auto p-8 bg-black text-white"
    >
      <span class="text-xl">Matthew Ubalde</span>
      <div class="flex gap-4">
        <ImageLink link={linkedin} width={50} height={50} />
        <ImageLink link={github} width={50} height={50} />
      </div>
    </footer>
  </body>
</html>
