---
import Footer from "../components/Footer.astro";
import BaseHead from "../components/Metadata/BaseHead.astro";

// import Navbar from "../components/Navbar.vue";
import Navbar from "../components/Navbar.astro";

const pathname = Astro.url.pathname;
const currentPath = pathname;

interface Props {
  title: string;
  description: string;
  prevNav?: string;
}

const { title, description, prevNav } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Matthew Ubalde Portfolio | " + title}
      description={description}
    />
  </head>
  <body>
    <!-- <Navbar current={currentPath} client:load /> -->
    <Navbar current={currentPath} />
    <!-- Other layouts should have inserted their main element -->
    <slot />
    <!-- end main element -->
    <Footer />
  </body>
</html>
